<!doctype html>

<html ng-app="blackjack">

<head>
    <title>Blackjack</title>

    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/blackjack.css">
    <link rel="stylesheet" href="directives/card/cardDirective.css">
    <link rel="stylesheet" href="directives/hand/handDirective.css">
</head>

<body ng-controller="BlackjackController">
    <div class="game-table">
        <!-- game info: who won -->
        <div class="game-info">
            <p ng-show="result && result.type === 'win'"
               ng-cloak>{{ result.of.is }} won!</p>
            <p ng-show="result && result.type === 'split'">split pot!</p>
        </div>

        <!-- dealer -->
        <div class="dealer">
            <div ng-show="result"
                 class="token token-danger"
                 ng-class="{
                    'token-success': result.type === 'win' && result.of.is === dealer.is,
                    'token-info': result.type === 'split' && result.of.indexOf(dealer) > -1
                 }"
                 ng-cloak>{{optimalScore(dealer.hand)}}</div>
            <hand content="dealer.hand"></hand>
        </div>

        <!-- player (if joined) -->
        <div class="player"
             ng-if="player"
             ng-cloak>
             <div ng-show="result"
                 class="token token-danger"
                 ng-class="{
                    'token-success': result.type === 'win' && result.of.is === player.is,
                    'token-info': result.type === 'split' && result.of.indexOf(player) > -1
                 }"
                 ng-cloak>{{optimalScore(player.hand)}}</div>
            <hand content="player.hand"></hand>
        </div>

        <!-- game controls -->
        <div class="game-controls">
            <button type="button"
                    class="token token-info"
                    ng-click="join()"
                    ng-hide="player">join</button>
            <button type="button"
                    class="token token-danger"
                    ng-click="stick()"
                    ng-show="player"
                    ng-cloak>stick</button>
            <button type="button"
                    class="token token-success"
                    ng-click="hit()"
                    ng-disabled="!player.canDrawMoreCards"
                    ng-show="player"
                    ng-cloak>hit</button>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>

    <script src="blackjack.js"></script>
    <script src="services/cards/cardsService.js"></script>
    <script src="directives/card/cardDirective.js"></script>
    <script src="directives/hand/handDirective.js"></script>
</body>

</html>